# Component commits pinned for cross-repository integration CI on Python 3.10-3.12.
# Transitive Python dependencies remain governed by component package constraints.
git+https://github.com/Virelion-Biotech/Virelion-CardiAnatomy.git@749b2069cca06970e48d795c67a8459fb302e2a2
git+https://github.com/Virelion-Biotech/Virelion-CardiAtlas.git@b7e1425aaa0a73434c097403b47e2d5a613c13c7
git+https://github.com/Virelion-Biotech/Virelion-CardiBench.git@e4b8308644bbf44f467af2603e8b1cb6a49ff104
git+https://github.com/Virelion-Biotech/Virelion-CardiEval.git@a697906c4ff68bacfaf764eda566a92a67cb64f3
git+https://github.com/Virelion-Biotech/Virelion-CardiLearn.git@a62914807f31c97a77259fbb96c62dd18a1ae041
git+https://github.com/Virelion-Biotech/Virelion-CardiEP.git@5c6d44807611e79c5161a305b1feebb0b9819d92
git+https://github.com/Virelion-Biotech/Virelion-CardiFlow.git@930ba1716ef5b3a879157b6b5e690b63298d9192
git+https://github.com/Virelion-Biotech/Virelion-CardiMech.git@ceaa3b42d77fbdea4743ed27b8a29fa478d68a0b
git+https://github.com/Virelion-Biotech/Virelion-CardiInfer.git@a77c8070e04c1941ad4043dab636e592b2941570
git+https://github.com/Virelion-Biotech/Virelion-CardiSim.git@76f2b142cb26f954d600b7cb437a23ef23bc0696
git+https://github.com/Virelion-Biotech/Virelion-CardiVex.git@1e3af09c87c6d3567b85f59379367d07c1078d20
git+https://github.com/Virelion-Biotech/Virelion-CardiStudio.git@a0e3867edcc5c87030a3ebab3a9757da0ec3b088
git+https://github.com/Virelion-Biotech/Virelion-DCCP.git@5b1becf79a99b33ef9a66e1a2bd8406539753512
git+https://github.com/Virelion-Biotech/Virelion-ElectroTrace.git@8deb52cfa8bbdf4e2bf49f052df4904b25c25e86
git+https://github.com/Virelion-Biotech/Virelion-MyoTrace.git@4cb5fd16ddf68c81ca9dbbe8d2fd315835283050
git+https://github.com/Virelion-Biotech/Virelion-OptiCell.git@2378c2bebd81824df0cff19fa0c3c0f9f1423932
git+https://github.com/Virelion-Biotech/Virelion-CardioScore.git@a97afb0480c033f92354e21c59b368737f876d3f
git+https://github.com/Virelion-Biotech/Virelion-CardiTherapy.git@f6475fde70de9a408998fa33c9a942f44b989c14
git+https://github.com/Virelion-Biotech/Virelion-CardiTrace.git@9c84b683293e1eaf3c7fd135d29502be8acc9b41
git+https://github.com/Virelion-Biotech/Virelion-CardiBridge.git@df4b67fbcb9ae0ae6e5c516286d2a9b0da847418
git+https://github.com/Virelion-Biotech/Virelion-CardiAgent.git@1184edbda248beac3d5d7e630e262307912ec480
